/*GENERALES*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, Helvetica, Arial;
}
body {
    background: url(../img/background.jpg);
}
a {
    color: #9BCBAF;
    text-decoration: none;
}
a:visited {
    color: #9BCBAF;
}
a:hover{
    color: #8db79e;
}
.alert_complete{
    color: green;
}
.alert_failed{
    color: red;
}
table {
    width: 100%;
    border: 1px solid #000;
    text-align: center;
}
td {
    border-top: 1px solid #ccc;
    padding: 2px;
}
/*CONTAINER*/
#container {
    width: 80%;
    margin: 0 auto;
    box-shadow: 0px 0px 10px grey;
}
/* HEADER */
#header {
    width: 100%;
    height: 160px;
    background: #FFFFFF;
}
#logo {
    padding: 30px;
    display: flex;
    align-items: center;
}
#logo img {
    height: 100px;
}
#logo a {
    font-size: 30px;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 30px;
    text-shadow: 0px 2px 1px #222222;
}
/*MENU*/
#menu {
    height: 55px;
    background: #222;
    color: white;
    border-bottom: 2px solid #9BCBAF;
}
#menu ul{
    list-style: none;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    margin-left: 25px;
}
#menu ul li {
    line-height: 55px;

}
#menu a {
    display: block;
    color: white;
    padding-left: 12px;
    padding-right: 12px;
    text-decoration: none;
    transition: all 200ms;
}

#menu a:hover {
    background: #9BCBAF;
}

/*CONTENIDO*/
#content{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    background: #ffffff;
}
#lateral{
    width: 25%;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
}
#lateral .block_aside{
    display: block;
    width: 90%;
    margin: 5px auto;
}
#lateral h3{
    display: block;
    color: 222;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 15px;
    background: #E3BE7F;
    border-bottom: 2px solid #222;
    font-size: 16px;
}

/*FORMS*/
.form_container {
    width: 50%;
}
label,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
select {
    display: block;
    width: 100%;
    margin-bottom: 2px;
    margin-top: 2px;
    font-size: 14px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
select {
    width: 100%;
    border: 1px solid #222;
    box-shadow: 0px 0px 2px #ccc inset;
    background: #fffff;
    padding: 2px;
    color: grey;
    transition: all 300ms;
}
input[type="button"],
input[type="submit"]{
    width: 100%;
    background: #9BCBAF;
    padding: 3px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: bold;
    margin-top: 10px;
    color: white;
    cursor: pointer;
    transition: all 300ms;
}
textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 100px;
}
.button {
    background: #9BCBAF;
    color: white !important;
    text-decoration: none;
}
.button-small {
    width: 120px;
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
}
input[type="button"]:hover,
input[type="submit"]:hover{
    background: #8db79e;
}
#lateral ul{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom:5px;
}
#lateral ul li {
    list-style: square;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*CENTRAL*/
#central{
    width: 75%;
    padding: 20px;
    border-left:1px solid  #ccc;
    box-shadow: -5px -1px 5px #ddd;   
}
#central h1 {
    font-size: 24px;
    text-align: center;
    font-weight: normal;
    letter-spacing: 1px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
    padding-top: 0;
}
#product {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 40px;


}
#product a {
    background: none;
}
#product img {
    max-width: 200px;
}

.img_carrito{
    height: 80px;
    display: block;
    margin: 10px auto;
}

#product .info{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: right;
}
#product .info h2 {
    color: #222;
    margin-bottom: 20px;
}
#product .info p{
    margin-top: 20px;
    margin-bottom: 20px;
}
#product .info a{
    width: 200px;
    margin: auto;
    margin-right: 0;
    padding: 4px 5px;
    text-align: left;
    background: #9BCBAF;
    text-decoration: none;
    color: white;
    transition: all 300ms;
    
}
#product .info a:hover{
    background: #8db79e;
}

#detail-product {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#detail-product img {
    width: 50%;

}
#detail-product .info {
    text-align: center;
}
#detail-product .info p {
    margin-top: 20px;
    margin-bottom: 20px;
}
#detail-product .info a {
    width: 200px;
    margin: auto;
    padding: 4px;
    background: #9BCBAF;
    text-decoration: none;
    color: white;
    transition: all 300ms;
}
#detail-product .info a:hover{
    background: #8db79e;
}
/* FOOTER */
#footer{
    text-align: center;
    background: #222222;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    border-top: 2px solid #9BCBAF;
}

/* CARRITO */

.total-carrito{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 10px;
}
.total-carrito h3{
    font-size: 16px;
    margin-right: 20px;
}
.button-pedido{
    display: block;
    width: 150px;
    background: #9BCBAF;
    color: white !important;
    padding: 3px;
    text-align: center;
    text-decoration: none;
}
.button-pedido:hover{
    background: #8DB79E;
}

